<section id="examples" class="examples-section">
		<div class="container">
      <div class="row">
        <div class="col-md-12">
			<h2 class="text-center">Phone Art Gallery</h2>
			<h3 class="text-center">Galaxy S3</h3>
			   </div>
        </div>
			<hr />

			<h3 style="clear: both;">Sketch</h3>

			<div class="image-row ">
				<div class="image-set">
<a ng-repeat= "photo in photos" class="example-image-link" href="{{photo.href }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="{{photo.src }}" alt=""/></a>



				</div>
			</div>
		</div>
	</section>
